$primary-background: radial-gradient(circle, #D4C4E9 0%, #B397D8 100%);
;

@mixin flex-center() {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

